html{
    background-color: #1f1f1f;
    color: #efefef;
    font-family: Arial, serif;
}
.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
button{
    background-color: #009a00;
    border-radius: 16px;
    border: none;
    padding: 16px 20px;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all 0.15s;
    color: #efefef;
}
button:hover{
    background-color: #efefef;
    color: #009a00;
}
button:active{
    opacity: 0.2;
}
#amount_moves{
    font-size: 1.4rem;
}
.margin{
    margin: 10px;
}
.opacity{
    opacity: 0.5;
}
#move_slider{
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    background: #efefef;
    width: 200px;
}
#move_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #009a00;
    cursor: pointer;
}
#move_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #009a00;
    cursor: pointer;
}
#final_combo{
    width: 300px;
    height: 200px;
    font-size: 1.3rem;
    text-align: center;
}
.category_container{
    flex-direction: row;
    gap: 30px;
    margin: 20px;
    width: 600px;
    height: 40px;
}
.move_label{
    cursor: pointer;
    text-decoration: underline;
}
